<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="false">

    <!--<test name="FirefoxTest" >-->

        <!--<classes>-->

            <!--<class name="SetUpDriverAutomatically" />-->
            <!--<parameter name="browser" value="firefox" />-->
        <!--</classes>-->

    <!--</test>-->

    <!--<test name="CHROME">-->

        <!--<classes>-->

            <!--<class name="SetUpDriverAutomatically" />-->
            <!--<parameter name="browser" value="chrome" />-->

        <!--</classes>-->
    <!--</test>-->


    <test name="amzon">

        <classes>

            <class name="Amazon" />
            <parameter name="browser" value="phantomjs" />

        </classes>

    </test>

</suite>